@tailwind base;
@layer base {
  #__next {
    font-size: 1rem;
    line-height: 1.75;
    text-rendering: optimizeLegibility;
  }
  #__next:lang(zh) {
    font-family: var(--font-zh-cn);
  }
  #__next:lang(en) {
    font-family: var(--font-en-us);
  }

  /* 懒加载的前提，默认不能加载背景图片 */
  .lazy {
    background-image: none !important;
  }

  // 目录列表只显示第一个子元素
  // 因为第一个子元素，默认渲染的就是目录，其他的子元素，可能是漏网之鱼，通过这里的样式，可以完全过滤。
  .blog-toc {
    & > :not(:first-child) {
      @apply hidden;
    }
    & > nav.toc {
      & > ol > li > a {
        @apply inline-block py-1;
      }
      ol {
        @apply first:px-0;
        @apply divide-y divide-dashed divide-gray-3 px-0;
        li {
          @apply px-[1em];
          @apply divide-y divide-dashed divide-gray-3;
          @apply text-left text-normal font-normal leading-tight text-gray-9;
          a {
            @apply w-full inline-block mt-1;
          }
        }
      }
    }
  }

  // markdown 渲染样式优化
  .prose {
    // 行内代码块的语法处理
    code {
      &::after,
      &::before {
        content: none;
      }
    }
    a {
      @apply font-bold no-underline;
    }
    ul {
      list-style-type: decimal;
      list-style-position: outside;
      li::marker {
        @apply text-gray-7;
      }
      li:not(:first-child) {
        @apply ml-0.5;
      }
      li {
        p:not(:first-child) {
          @apply font-normal;
        }
      }
    }
    h2 {
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    h3 {
      margin-top: 1em;
    }
    p {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    pre {
      @apply shadow shadow-gray-5;
    }
    blockquote {
      @apply mx-0 my-2 bg-gray-05 px-3 py-2;
      @apply rounded rounded-l-none shadow shadow-gray-5;
      @apply border-l-8 border-solid border-l-gray-8;
      @apply font-normal not-italic;
      p {
        margin: 0;
        &::before,
        &::after {
          content: none;
        }
      }
    }
    // task列表样式
    .contains-task-list {
      margin-top: 0;
      padding-left: 1rem;
      .task-list-item {
        list-style-type: none;
        padding: 0;
        input {
          margin: 0;
        }
      }
    }
  }
  .markdown-area {
    ul {
      @apply my-0;
    }
  }
}
