@tailwind base;
@layer base {
  #__next {
    font-size: 1rem;
    line-height: 1.75;
    text-rendering: optimizeLegibility;
  }
  #__next:lang(zh) {
    font-family: var(--font-zh-cn);
  }
  #__next:lang(en) {
    font-family: var(--font-en-us);
  }

  /* 懒加载的前提，默认不能加载背景图片 */
  .lazy {
    background-image: none !important;
  }

  // markdown 渲染样式优化
  .prose {
    // 行内代码块的语法处理
    code {
      &::after, &::before {
        content: none;
      }
    }
    a {
      @apply font-bold no-underline;
    }
    ol {
      @apply my-0;
    }
    ul {
      list-style-type: decimal;
      list-style-position: outside;
      li::marker {
        @apply text-gray-7;
      }
      li:not(:first-child) {
        @apply ml-0.5;
      }
      li {
        p:not(:first-child) {
          @apply font-normal;
        }
      }
    }
    h2 {
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    h3 {
      margin-top: 1em;
    }
    p {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    pre {
      @apply shadow shadow-gray-5;
    }
    blockquote {
      @apply my-2 mx-0 py-2 px-3 bg-gray-05;
      @apply rounded rounded-l-none shadow shadow-gray-5;
      @apply border-l-8 border-solid border-l-gray-8 ;
      @apply font-normal not-italic;
      p {
        margin: 0;
        &::before, &::after {
          content: none;
        }
      }
    }
    // task列表样式
    .contains-task-list {
      margin-top: 0;
      padding-left: 1rem;
      .task-list-item {
        list-style-type: none;
        padding: 0;
        input {
          margin: 0;
        }
      }
    }
  }
  .markdown-area {
    ul {
      @apply my-0;
    }
    .toc {
      @apply border-b mb-4 border-gray-300;
      & > ol > li {
        padding-left: 0 !important;
        @apply divide-y-2 divide-dashed;
        & > a {
          @apply py-1.5 inline-block;
        }
      }
      ol {
        @apply first:px-4 first:border first:border-gray-300 first:border-solid first:rounded first:mb-4;
        @apply list-none px-0 divide-y-2 divide-dashed;
        li {
          @apply pl-[1em] my-0 py-0.5;
        }
      }
    }
  }
}
